mongodb_atlas_public_key = "YOUR_MONGODB_ATLAS_PUBLIC_KEY"
mongodb_atlas_private_key = "YOUR_MONGODB_ATLAS_PRIVATE_KEY"
mongodb_atlas_org_id = "YOUR_MONGODB_ATLAS_ORG_ID"
mongodb_uri = "mongodb+srv://<user>:<password>@cluster0.mongodb.net/LaundryDb?retryWrites=true&w=majority"
render_api_key = "YOUR_RENDER_API_KEY"
render_deploy_hook = "https://api.render.com/deploy/srv-xxxxxxxxxxxxxxxx"
vercel_token = "YOUR_VERCEL_TOKEN"
vercel_org_id = "YOUR_VERCEL_ORG_ID"
vercel_project_id = "YOUR_VERCEL_PROJECT_ID"
project_name = "laundry-app"
mongo_project_name = "LaundryAppAtlasProject"
render_service_name = "laundry-backend"
vercel_project_name = "laundry-frontend"
